<div class="container-sm rounded-5" style="background: linear-gradient(135deg, #00feba, #5b548a);">

  <div class="container pt-5">
    <form [formGroup]="weatherForm" (ngSubmit)="getWeatherByCity()">
      <div class="row text-center mx-2">
        <div class="col">
          <input class="form-control rounded-5 px-4" style="height: 60px; background: #ebfffc;" type="text"
            placeholder="Please input a city name" formControlName="location" />
        </div>
        <div class="col-2">
          <button class="rounded-circle border-0" type="submit" style="width: 60px; height: 60px; background: #ebfffc;">
            <img src="assets/images/search.png" alt="search" style="width: 50%; height: 50%">
          </button>
        </div>
      </div>
      <p *ngIf="this.isError" class="text-light text-center">Invalid City Name</p>
    </form>
  </div>
  <br>

  <div class="container pb-5" *ngIf="this.resData && !this.isError">
    <div class="text-light h4 text-center">
      <p class="h6">{{this.resData.weather[0].main}}</p>
      <p *ngIf="!this.isPMerror" class="h6">PM25 : {{this.resPM25.stations[0].aqiInfo.concentration}}</p>
      <img class="img-fluid" src="assets/images/{{this.resData.weather[0].main | lowercase}}.png"
        alt="weather animation">
    </div>
    <div class="text-light text-center">
      <p class="fw-bold" style="font-size: 70px;">{{this.resData.main.temp}} °C</p>
      <p class="h1">{{this.resData.name}}</p>
    </div>
    <br>
    <div class="row text-light text-center mt-5">
      <div class="row">
        <div class="col">
          <img class="float-end" src="assets/images/humidity.png" alt="Humidity" style="width: 50px;">
        </div>
        <div class="col">
          <p class="h1">{{this.resData.main.humidity}} %</p>
        </div>
        <div class="col">
          <img class="float-end" src="assets/images/wind.png" alt="WindSpeed" style="width: 50px;">
        </div>
        <div class="col">
          <p class="h3">{{this.resData.wind.speed}} km/h</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>Humidity</p>
        </div>
        <div class="col">
          <p>Wind Speed</p>
        </div>
      </div>

    </div>
  </div>

</div>
